.card__container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 400px;
}

.cards__container {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 16px;
  margin-bottom: 64px;
}

.show-more {
  background-color: #FFFFFF;

  border-radius: 80px;
  width: 288px;
  height: 64px;
  opacity: 1;
  font-family: "Roboto";
  font-color: #1a1b22;
  font-size: 18px;
  border: none;
  margin: 0 auto;
}

.show-more:hover {
  border: none;
  cursor: pointer;
  background-color: #e8e8e8;
}


/*Tablet view*/
@media (min-width: 769px) and (max-width: 1024px) {
  .show-more {
    
}

/*Mobile view*/
@media (max-width: 768px) {
.cards__container {
  flex-wrap:wrap;

  .show-more {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 14px;
  }
}