.card__item {
  height: 576px;
  width: 400px;
  border-radius: 16px;
  overflow: hidden;
  color: #b6bcbf;
  background-color: #ffffff;
  position: relative;
}

.card__image {
  height: 272px;
  width: 400px;
}

.card__description {
  color: #1a1b22;
  margin: 0;
}

.card__title {
  font-family:
    "Roboto Slab",
    sans serif;
  font-weight: 400;
  font-size: 26px;
  color: #1a1b22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__source {
  color: #b6bcbf;
}

.card__list-title {
  font-family:
    "Roboto Slab",
    sans serif;
  font-weight: 400;
  font-size: 40px;
}

.card__details {
  margin-left: 24px;
  margin-right: 24px;
}

.card__bookmark-button {
  background: url("../../images/lightgraybookmark.png") center #ffffff no-repeat;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: none;
}
.card__bookmark-button_bookmarked_true {
  background-image: url("../../images/bluebookmark.png");
}

.card__bookmark-button:hover {
  cursor: pointer;
  background-image: url("../../images/bookmark-dark.png");
}

.card__bookmark-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.card__remove-bookmark-button {
  background: url("../../images/trashcanicon.png") center #ffffff no-repeat;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: none;
}

.card__remove-bookmark-button:hover {
  background: url("../../images/darktrashcanicon.png") center #ffffff no-repeat;
}

.card__delete-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 69px;
  font-family: "Roboto";
  color: #000000;
  font-size: 12px;
  border-radius: 8px;
  height: 40px;
  background: #ffffff;
  filter: drop-shadow(0px 10px 22px #3b4a74);
  padding: 11px 26px;
  box-sizing: border-box;
  font-weight: 500;
}

.card__keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: "Roboto";
  color: #000000;
  font-size: 14px;
  border-radius: 8px;
  height: 40px;
  background: #ffffff;
  filter: drop-shadow(0px 10px 22px #3b4a74);
  padding: 8px 22px;
  box-sizing: border-box;
  font-weight: 500;
}

/*Tablet view*/
@media (min-width: 769px) and (max-width: 1024px) {
  .card__item {
    height: 420px;
    width: 224px;
  }
  .card__image {
    height: 150px;
  }

  .card__container {
    width: 224px;
  }

  .cards__container {
    gap: 8px;
  }

  .card__list-title {
    font-family:
      "Roboto Slab",
      sans serif;
    font-weight: 400;
    font-size: 30px;
  }
}

/*Mobile view*/
@media (max-width: 768px) {
  .card__list-title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 30px;
  }

  .card__item {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 10px;
  }

  .card__image {
    width: 288px;
  }
}
